.SearchBar {
    height: 10rem;
    width: 60%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
}

.SearchContainer {
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
}

.SearchBar input {
    border-radius: 5px;
    padding: 5px;
}

.SearchBar hr {
    width: 95%;
}
