.SearchBar {
    height: 10rem;
    min-width: 60%;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    z-index: 10;
}

.SearchContainer {
    height: 2rem;
    margin: 1rem 9rem;
    box-sizing: border-box;
}

.SearchBar input {
    border-radius: 5px;
    padding: 5px;
}

.SearchBar hr {
    width: 95%;
}
